@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
    
    font-family: "Roboto Mono";
    src: url("fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");

    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Black.ttf");

    font-family: "SFMono";
    src: url("fonts/SFMono/SFMono-Regular.otf")
}

head {
    font-family: "Roboto";
    font-size: 0.8em;
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin: 0px;
    background: linear-gradient(rgb(107, 169, 177), pink, rgb(216, 216, 132));
}
.logo {
    height: 50px;
    width: 50px;
}
.konst {
    text-align: center;
}
h1, h2 {
    padding-top: 6px 10px;
    text-align: left;
    font-family: "Montserrat";
    font-weight: 100;
    
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

.bloki{
    border-radius: 24px;
    display: inline-flex;
    font-family: "Montserrat";
    height: 580px;
    width: 530px;
    columns: 3;
    background: linear-gradient(rgb(178, 96, 199), rgb(98, 57, 173), rgb(56, 204, 160))
}

.bloki:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(67, 153, 223);
    text-decoration: none;
}

img {
    height: 100px;
    width: 100px;
}

footer {
    text-align: center;
    font-size: 0.7em;
    white-space: nowrap;
}

p {
    text-align: right;
}

.logo2 {
    height: 20px;
    width: 20px;
}

form {
    text-align: center;
}

.str {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 1em;
    line-height: 1.7;
    margin-bottom: 16px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.gitgit {
    padding: 16px 16px;
    background-color: #adb7c2;
    font-family: "SFMono";

}